<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--屏幕打印消息-->
    <!--<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}> ${message}"/>-->
    <target name="info" xsi:type="ColoredConsole"
            layout="${longdate} | ${uppercase:${level}} | ${message}" />

    <!--VS输出窗口-->
    <!--<target name="debugger" xsi:type="Debugger" 
            layout="${longdate} | ${uppercase:${level}} | ${message}" />-->
    <target name="debug" xsi:type="Debugger"
            layout="${longdate} | ${uppercase:${level}} | ${message}" />

    <!--保存至文件-->
    <target name="error" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}-Error.txt"
            maxArchiveFiles="100"
            layout="${longdate} | ${uppercase:${level}} | ${message}" />
    <target name="trace" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}-Trace.txt"
            maxArchiveFiles="100"
            layout="${longdate} | ${uppercase:${level}} | ${message}" />
    <target name="fatal" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}-Fatal.txt"
            maxArchiveFiles="100"
            layout="${longdate} | ${uppercase:${level}} | ${message}" />
  </targets>
  <rules>
    <!--<logger name="*" writeTo="console" />-->
    <logger name="*" minlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Fatal" writeTo="fatal" />
  </rules>
</nlog>